<head>
    <link rel="stylesheet" href="footer.component.css">
</head>
<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Về chúng tôi</h3>
          <p>
            "Trang web của chúng tôi là một nguồn tin tức cập nhật, đáng tin cậy, mang đến cho bạn những thông tin nóng hổi nhất trong ngày. Với đội ngũ phóng viên giàu kinh nghiệm, chúng tôi cam kết cung cấp những bài viết chất lượng, đa dạng về các chủ đề từ chính trị, kinh tế, xã hội đến văn hóa, giải trí."            <br>
            <a href="#">Liên hệ</a> | <a href="#">Giới thiệu</a>
          </p>
        </div>
        <div class="col-md-6">
          <h3>Liên kết hữu ích</h3>
          <ul>
            <li><a href="#">Điều khoản sử dụng</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
            <li><a href="#">Hỗ trợ</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>&copy; 2024 NEWS WEBSITE. All rights reserved.</p>
      </div>
    </div>
  </footer>