<head>
    <title>Trang chi tiết bài viết</title>
    <link rel="stylesheet" href="chitietbaiviet.component.css">
</head>
<app-header></app-header>
<div class="article-container" *ngIf="article && article.title">
    <div class="article-header">
        <span class="article-category" style="cursor: pointer;" (click)="goToSearchTagCate('category',article.category_id)">{{article.category_name}}</span>
        <h1>{{article.title}}</h1>
        <div class="article-author">
            <p>{{article.tentacgia}} - {{article.published_at}}</p>
        </div>
        <img [src]="'http://localhost:3000/img_thumbnail/'+article.thumbnail_url" alt="">
    </div>
    <div class="article-content" [innerHTML]="article.content"></div>

    <div class="article-tags">
        <ul>
            <li *ngFor="let tag of tagsNow">
                <a style="cursor: pointer;" (click)="goToSearchTagCate('tag', tag.tag_id)">{{ tag.tag_name }}</a>
            </li>
        </ul>
    </div>

</div>
<app-footer></app-footer>